.DS_Store

/coverage
/dist
/node_modules

yarn-error.log

# TypeScript test run output
# TODO: Is there a way to avoid this file from being written and instead "just typecheck"?
src/__tests__/typescript-tests.js
