code {
    padding: 0.2em 0.4em !important;
    font-size: 0.87em !important;
}

.nav-list {
    .nav-list-item {
        font-size: 16px !important;
    }
}

p.signature {
    font-size: 22px !important;
    line-height: 34px !important;
    font-weight: 300 !important;
    margin: 16px 0 !important;
    padding: 0 !important;

    strong {
        font-weight: 600 !important;
    }
}
