name: test
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [
            # From https://github.com/nodejs/Release
            '20.x', # EoL by 2026-04-30
            '22.x', # EoL by 2027-04-30
            '24.x', # EoL by 2028-04-30
            'latest',
          ]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: npm ci

      - name: Install Python dependencies (for documentation generation)
        run: pip install cogapp

      - name: Test TypeScript
        run: npm run test:typescript
        env:
          CI: true

      - name: Unit tests
        run: npm run test
        env:
          CI: true

      - name: Completeness check
        run: npm run test:completeness
        env:
          CI: true

      - name: Lints
        run: npm run lint
        env:
          CI: true

      - name: Build
        run: npm run build
        env:
          CI: true

      - name: Test type inference
        run: npm run test:types
        env:
          CI: true

      - name: Lint packages
        run: npm run lint:package
        env:
          CI: true

      - name: Lint docs
        run: npm run lint:docs
        env:
          CI: true
